@charset "UTF-8";
/* CSS Document */

	.mobile {
		display: none;	
	}
	
	#wrapper {
		width: 960px;
		margin: 0 auto;	
		position: relative;
		z-index: 10;
	}
	
	#background_container {
		width: 960px;
		position: relative;
		margin: 0 auto;
		display: block;
	}
	
	#bg_left {
		position: absolute;
		right: 900px;
		top: 0px;	
	}
	
	#bg_right {
		position: absolute;
		left: 450px;
		top: 0px;	
	}
	
	#logo {
		margin-left: 20px;
		margin-top: 00px;
		padding-top: 30px;	
	}
	
	#slogan {
		margin-top: 200px;	
		padding-left: 20px;
	}
	
	#slogan h1 {
		font-size: 70px;	
		letter-spacing: -0.05em;
		line-height: 70px;
		color: #8dd2cc;
	}
	
	#regions {
		display: block;
		padding-top: 20px;
		padding-bottom: 20px;
		border-top: 1px #8dd2cc solid;	
	}
	
	.region {
		display: inline-block;
		float: left;
		width: 33.33%;	
		position: relative;
		overflow: hidden;
	}
	
	.region_title {
		display: inline-block;	
		float: left;
		padding-left: 20px;
		padding-right: 20px;
	}
	
	.address {
		display: inline-block;
		float: left;
		padding-left: 20px;
		padding-right: 20px;	
	}
	
	.region_footer {
		display: inline-block;
		width: 100%;
		float: left;
		padding-left: 20px;
		padidng-right: 20px;	
	}
	
	.region h2 {
		font-size: 54px;
		line-height: 40px;
		text-transform: uppercase;
	}
	
	.arrow {
		font-size: 24px;
		font-weight: bold;
		display: block;
		left: 0px;
		position: relative;
		width: 100%;	
	}
	
	.enter_container {
		color: #fff;
		font-size: 18px;
		font-family: "Gotham-Bold";	
		display: inline-block;
		position: absolute;
		bottom: 21px;
		left: 40px;
		width: 100px;
		overflow: hidden;
		text-align: left;
	}
	
	.enter {
		position: absolute;
		left: -100px;
		-webkit-transition: left 0.5s;
		transition: left 0.5s;
	}
		
	.on .enter {
		left: 0px;	
	}
	
	.social_icon {
		margin-left: 10px;
		margin-right: 10px;	
		width: 25px;
		display: inline-block;
	}
	
	.region h2 {
		font-size: 60px;
		line-height: 60px;
		letter-spacing: -0.05em;
		height: 80px;	
	}
