@charset "UTF-8";
/* CSS Document */

@font-face {
	font-family: "Gotham-Extra-Light";
	src: url('fonts/gotham_xlight.otf');
}

@font-face {
	font-family: "Gotham-Book";
	src: url('fonts/gotham_book.otf');	
}

@font-face {
	font-family: "Gotham-Bold";
	src: url('fonts/gotham_bold.otf');	
	font-weight: bold;
}

h1 {
	font-family: "Gotham-Extra-Light";	
}

h2 {
	font-family: "Gotham-Bold";	
}

a:link, a:visited {
	color: #00405a;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;	
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

html{
	font-size: 75%;
	line-height: 1.5em;
	font-family: "Gotham-Book",Helvetica,Verdana,Arial;
	background:#fff;
	color: #00405a;
	width:100%;
	height:100%;
}

body{
	height:100%;
	width:100%;
	margin: 0px;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#container {
	position: absolute;
	top: 0px;
	right: 0px;
	left: 0px;
	bottom: 0px;
	overflow-x: hidden;	
}

.asia.on {
	background-color: #f26349;	
}

.asia h2, .asia .arrow {
	color: #f26349;	
}

.europe.on {
	background-color: #00aeb5;
	color: #fff;	
}

.europe h2, .europe .arrow {
	color: #00aeb5;	
}

.latin h2, .latin .arrow {
	color: #fbaf19;	
}

.latin.on {
	background-color: #fbaf19;
	color: #fff;	
}

#social {
	display: block;
	text-align: center;
	border-top: 1px #8dd2cc solid;
	padding-top: 20px;
	padding-bottom: 20px;
}

.social_icon {
	margin-left: 10px;
	margin-right: 10px;	
	width: 25px;
	display: inline-block;
}

.region:hover {
	cursor: pointer;	
}


@media screen and (max-width: 640px) {
	.not_mobile {
		display: none;	
	}
	
	#wrapper {
		display: block;
		width: 100%;
		position: relative;
		margin: 0px;
		z-index: 10;
	}	
	
	#bg_left {
		display: block;
		position: absolute;
		top: 0px;
		left: -232px;
	}
	
	#bg_right {
		position: absolute;
		display: block;
		right: 0px;
		top: 0px;	
	}
	
	#logo {
		margin-top: 20px;
		margin-bottom: 20px;
		margin-left: 30px;
		position: relative;
		display: block;
	}	
	
	#logo img {
		max-width: 100%;
	}
	
	#slogan {
		position: relative;
		display: block;
		margin-top: 85px;
		margin-left: 0px;
		margin-bottom: 20px;
		text-align: center;
	}
	
	#slogan h1 {
		font-size: 30px;
		line-height: 30px;
		color: #8dd2cc;		
	}
	
	#regions {
		display: block;	
	}
	
	.region {
		display: inline-block;
		background-color: #fff;
		overflow: hidden;
		width: 100%;
		height: 80px; /*240px*/
		position: relative;	
		border-top: 1px #8dd2cc solid;
		padding-left: 30px;
		transition: height 0.5s;
	}
	
	.region.on {
		height: 280px;	
	}
	
	.region h2 {
		font-size: 24px;
		line-height: 24px;	
		text-transform: uppercase;
	}
	
	.address {
		display: none;	
	}
	
	.on .address {
		display: inline-block;	
	}
	
	.on .buttons {
		display: inline-block;	
	}
	
	.on .arrow {
		display: inline-block;	
	}
	
	.region_footer {
		display: inline-block;
		position: absolute;
		right: 10px;
		top: 0px;
		height: 200px;	
	}
	
	.arrow {
		display: none;
		line-height: 40px;
		font-size: 80px;	
	}
	
	.enter {
		display: none;
	}
	
	.buttons {
		display: none;	
		width: 100%;
		position: relative;
		margin-top: 20px;
		/*border-top: 1px #fff solid; */
	}
	
	.button {
		display: inline-block;
		width: 33.3333%;
		line-height: 44px;
		/*border-right: 1px #fff solid;*/
		height: 44px;
		text-align: center;
		float: left;
	}
	
	.button:last-child {
		border-right: 0px;	
	}
	
	.button img {
		display: inline;
	}
	
	#social {
		position: relative;
		z-index: 90;	
	}
}

@media screen and (min-width: 640px) and (max-width: 1024px) {
	.mobile {
		display: none;	
	}
	
	#wrapper {
		display: block;
		width: 100%;
		position: relative;
		margin: 0px;
		z-index: 10;
	}
	
	#background_container {
		position: absolute;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		z-index: 0;	
	}
	
	#bg_left {
		left: -474px; 
		top: 100px;	
		position: absolute;
	}
	
	#bg_right {
		position: absolute;
		width: 375px;
		height: 243px;
		top: 0px;
		right: 0px;
		overflow-x: hidden;
	}
	
	#logo {
		margin-left: 40px;
		margin-top: 00px;
		padding-top: 30px;	
	}
	
	#slogan {
		margin-top: 250px;	
		margin-left: 0px;
		padding: 0px;
		position: relative;
		display: block;
		text-align: center;
	}
	
	#slogan h1 {
		font-size: 50px;
		font-weight: lighter;
		line-height: 50px;	
		color: #8dd2cc;
	}
	
	#regions {
		display: block;
		border-top: 1px #8dd2cc solid;
		padding-top: 20px;
		padding-bottom: 20px;	
	}
	
	.region {
		display: inline-block;
		float: left;
		width: 30%;
		margin-left: 2.5%;	
		padding: 20px;
		color: #fff;
	}
	
	.region a:link, .region a:visited {
		color: #fff;	
	}
	
	.asia {
		background-color: #f26349;
	}
	
	.europe {
		background-color: #00aeb5;
	}	
	
	.latin {
		background-color: #fbaf19;	
	}
	
	.region h2 {
		font-size: 30px;
		line-height: 30px;
		height: 40px;	
		color: #fff;
	}
	
	
	.address {
		float: left;	
		height: 150px;
	}
	
	.arrow {
		font-size: 24px;
		font-weight: bold;	
		color: #fff !important;
	}
	
	.region_footer {
		display: inline-block;
		width: 100%;	
		position: relative;
	}
	
	.enter_container {
		position: absolute;
		display: inline-block;
		left: 20px;
		bottom: 20px;	
	}
		
	.enter {
		display: inline;
		color: #fff;
		font-size: 18px;
		font-family: "Gotham-Bold";	
	}
	
	.social_icon {
		margin-left: 10px;
		margin-right: 10px;	
		width: 25px;
		display: inline-block;
	}
	
	#social {
		position: relative;
		z-index: 90;	
	}
}

@media screen and (min-width: 1024px) {
	.mobile {
		display: none;	
	}
	
	#wrapper {
		max-width: 960px;
		margin: 0 auto;	
		position: relative;
		z-index: 10;
	}
	
	#background_container {
		width: 960px;
		position: relative;
		margin: 0 auto;
		display: block;
	}
	
	#bg_left {
		position: absolute;
		right: 900px;
		top: 0px;	
	}
	
	#bg_right {
		position: absolute;
		left: 450px;
		top: 0px;	
	}
	
	#logo {
		margin-left: 20px;
		margin-top: 00px;
		padding-top: 30px;	
	}
	
	#slogan {
		margin-top: 200px;	
		padding-left: 20px;
	}
	
	#slogan h1 {
		font-size: 70px;	
		letter-spacing: -0.05em;
		line-height: 70px;
		color: #8dd2cc;
	}
	
	#regions {
		display: block;
		padding-top: 20px;
		padding-bottom: 20px;
		border-top: 1px #8dd2cc solid;	
	}
	
	.region {
		display: inline-block;
		float: left;
		width: 33.33%;	
		position: relative;
		overflow: hidden;
	}
	
	.region_title {
		display: inline-block;	
		float: left;
		padding-left: 20px;
		padding-right: 20px;
	}
	
	.address {
		display: inline-block;
		float: left;
		padding-left: 20px;
		padding-right: 20px;	
	}
	
	.region_footer {
		display: inline-block;
		width: 100%;
		float: left;
		padding-left: 20px;
		padidng-right: 20px;	
	}
	
	
	.address {
		float: left;	
		height: 150px;
	}
	
	.region h2 {
		font-size: 54px;
		line-height: 40px;
		text-transform: uppercase;
	}
	
	.arrow {
		font-size: 24px;
		font-weight: bold;
		display: block;
		left: 0px;
		position: relative;
		width: 100%;	
	}
	
	.enter_container {
		color: #fff;
		font-size: 18px;
		font-family: "Gotham-Bold";	
		display: inline-block;
		position: absolute;
		bottom: 21px;
		left: 40px;
		width: 100px;
		overflow: hidden;
		text-align: left;
	}
	
	.enter {
		position: absolute;
		left: -100px;
		-webkit-transition: left 0.5s;
		transition: left 0.5s;
	}
		
	.on .enter {
		left: 0px;	
	}
	
	#social {
		max-width: 960px;
		margin: 0 auto;	
	}
	
	.social_icon {
		margin-left: 10px;
		margin-right: 10px;	
		width: 25px;
		display: inline-block;
	}
	
	.region h2 {
		font-size: 60px;
		line-height: 60px;
		letter-spacing: -0.05em;
		height: 80px;	
	}

}

.on, .on .arrow, .on h2, .on a:link, .on a:visited, .on a:hover {
	color: #fff;	
}